<div class="row">

<%= form_for product, url: category_products_path do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

      <div class="row">
        <div class="input-field col s6">
          <%= form.text_field :name, id: 'name', type: 'text', class: 'validate' %>
          <label for="name">Name</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s6">
          <%= form.number_field :price, id: 'price', type: 'number', class: 'validate' %>
          <label for="name">Price</label>
        </div>
      </div>
      
      <div class="row">
        <div class="input-field col s6">
          <%= form.number_field :quantity, id: 'quantity', type: 'number', class: 'validate' %>
          <label for="name">Quantity</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s6">
          <%= form.number_field :discount, id: 'discount', type: 'number', class: 'validate' %>
          <label for="name">Discount</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <%= form.select :category_id, Category.all.map { |cat| [cat.name, cat.id] }, class: 'validate' %>
          <%= form.label "This Product assigned to #{@category.name} Category" %>
        </div>
      </div>
  <div class="actions">
    <%= form.submit 'Create', class: 'waves-effect waves-light btn'%>
  </div>

<% end %>
</div>
