<p id="notice"><%= notice %></p>
  <div class="collection">
    <a href="#!" class="collection-item"><span class="badge"><%= @product.name %></span>Name</a>
    <a href="#!" class="collection-item"><span class="badge"><%= @product.price %></span>Price</a>
    <a href="#!" class="collection-item"><span class="badge"><%= @product.quantity %></span>Quantity</a>
    <a href="#!" class="collection-item"><span class="badge"><%= @product.discount %></span>Discount</a>
    <a href="#!" class="collection-item"><span class="badge"><%= @product.category&.name %></span>Category</a>
  </div>
<%= link_to 'Edit', edit_category_product_path(@product.category, @product) %> |
<%= link_to 'Back', category_products_path %>
